@page
@model Dyreinternat_eksamens_projekt.Pages.BlogModel
@{
}
<body>
	<main>
		<div>
			@if (Model.Edit == false)
			{
				<h1>
					@Model.SpecificBlog.Title
				</h1>

				<p>
					@Model.SpecificBlog.Text
				</p>
				<p>
					-@Model.SpecificBlog.Author.Name
				</p>
				<form method="post" asp-page-handler="Delete">
					<input type="Hidden" name="TempTitle" asp-for="TempTitle" value="@Model.SpecificBlog.Title" />
					<input type="submit" value="Delete Blog" />
				</form>
				<form method="post" asp-page-handler="Edit">
					<input type="Hidden" name="Edit" asp-for="Edit" value="true" />
					<input type="submit" value="Edit Blog" />
				</form>
			}
			else
			{
				<form method="post" asp-page-handler="Save">
					<h1>
						<input type="Text" name="Title" asp-for="Title" placeholder="@Model.SpecificBlog.Title" />
					</h1>
					<input type="submit" value="Save Blog" />
				</form>
			}
		 	
		 </div>
	</main>
</body>
