@page
@model Dyreinternat_eksamens_projekt.Pages.CreateBlogModel
@{
}

<body>
	<main>
		<form method="post" asp-page-handler="Create">
			<input type="text" name="Title" asp-for="Title" placeholder="title" />
			<input type="text" name="Text" asp-for="Text" placeholder="text" />
			<input type="text" name="AuthorName" asp-for="AuthorName" placeholder="AuthorName" />
			<input type="submit" value="Create Blog" />
		</form>
		<div>
			@foreach (Lib.Model.Blog blog in Model.Blogs)
			{
				<h1>
					@blog.Title
				</h1>

				<p>
					@blog.Text
				</p>
				@if (blog.Author.Name ==  null)
				{
					<p>
						-Author Unknown
					</p>
				}
				else
				{
					<p>
						-@blog.Author.Name
					</p>
				}
				<div >
					<form method="post" asp-page-handler="Show">
						<input type="hidden" name="TempTitle" asp-for="TempTitle" value="@blog.Title" />
						<input type="submit" value="Open Blog" /> 
				 	</form> 
				</div>
			
			}
			</div
		</div>
	</main>
</body>

