@page
@model Dyreinternat_eksamens_projekt.Pages.CreateWorkerModel
@{
}
<body>
	<main>
		<form method="post">
			<input type="text" name="Name" asp-for="Name" placeholder="Name" />
			<input type="text" name="PhoneNumber" asp-for="PhoneNumber" placeholder="PhoneNumber" />
			<input type="number" name="ID" asp-for="ID" placeholder="ID" />
			<input type="submit" value="Create Worker" />
		</form>
		<div>
			@foreach (Lib.Model.Worker worker in Model.Workers)
			{
				<h1>
					@worker.Name
				</h1>

				<p>
					@worker.Role
				</p>
			}
		</div>
	</main>
</body>
