@page
@model Dyreinternat_eksamens_projekt.Pages.CreateWorkerModel
@{
}
<body>
	<main>
		<form method="post" asp-page-handler="Create">
			<input type="text" name="Name" asp-for="Name" placeholder="Name" />
			<input type="text" name="PhoneNumber" asp-for="PhoneNumber" placeholder="PhoneNumber" />
			<label for="roleSelect">Choose a Role:</label>
			<select id="roleSelect" name="roleSelect">
				  <option value="Leader">Leader</option>
				  <option value="Grunt">Grunt</option>
				  <option value="Admín">Admin</option>
			</select>
			<input type="submit" value="Create Worker" />
		</form>
		<div>
			@foreach (Lib.Model.Worker worker in Model.Workers)
			{
				<h1>
					@worker.Name
				</h1>

				<p>
					@worker.Role
				</p>

				<p>
					@worker.Id
				</p>
				<form method="post" asp-page-handler="Delete">
					<input type="hidden" name="WorkerID" asp-for="WorkerID" value="@worker.Id" />
					<input type="submit" value="Delete Worker" />
				</form>
			}
		</div>
	</main>
</body>
